/** big **/
@media only screen and (min-width: 1200px) {

    //    diamond hr
    .diamondrow hr {
        width: 47% !important;
    }
   
    //Tyskenhavn body
    #tyskenhavnbody {
    
    //Tyskenhavn logo
    #tyskenhavnlogo {
        width: 200px;
        margin-top: 10px;
    }
}
}
