/** small **/
body {

    background-color: #8e8e8e;
    
    
    
    //active navbar
    #active {
        
        color: red;
        
    }
        
        background-color: #255858;
        height: 100px;
        
        #logo {
            
            width: 80px;
            
        }
        .omg {
            
            background-color: bisque;
            
        }
    .verticalalign {
        
        vertical-align: middle;
        
    }
    
    //wrapper
    #wrapper {
        
        width: 80%;
        margin: auto;
        
    }
    
    //main
    main {
        
        height: 400px;
        background-color: bisque;
        
    }
    
    //footer
    footer {
        
        height: 200px;
        background-color: blueviolet;
        
    }
}